@charset"utf-8";
/* CSS Document */

/*reset*/
header, nav, section, footer, article, aside {
    display: block;
    box-sizing: border-box;
}
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, img, span, em, i, b, a, table, thead, tbody, tfoot, th, tr, td, form, input, textarea, select, option, pre, hr, label, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
li {
    list-style: none;
}
img {
    display: inline-block;
    border: none;
    vertical-align: top;
    position: relative;
}
img:before {
    display: inline-block;
    content: attr(alt);
    width: 100%;
    padding: 10px;
    height: 100%;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
}
em, i {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, b, label, th {
    font-weight: normal;
}
a, button, label {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
    border-collapse: collapse;
}
input, textarea, select, button {
    outline: none;
    font-family: arial, helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}
textarea {
    vertical-align: top;
    resize: none;
    overflow: auto;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="url"], input[type="submit"] {
    -webkit-appearance: none;
    border-color: #ddd;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    font-size: 14px;
}
select, textarea {
    border: 1px solid #ddd;
}
select:focus {
    border-color: #52a3fc;
}
iframe {
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

/*兼容*解决按钮在IE7及更早浏览器下随着value增多两边留白也随着增加的问题(true)*/
input, button {
    overflow: visible;
}
/*兼容*解决IE7及更早浏览器下当li中出现2个或以上的浮动时，li之间产生的空白间隙的BUG(false)*/
li {
    vertical-align: top;
}
/*优化*让文本垂直对齐文本输入框*/
input {
    vertical-align: middle;
}
/*优化*让ios下输入框光标不过长*/
input {
    padding: 5px 0;
}

/*public*/
html {
    width: 100%;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    overflow-x: hidden;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
}
h3, h4, h5, h6 {
    font-size: 14px;
}
a {
    color: inherit;
}
a:active, button:active {
    opacity: 0.8;
}
a, button, select {
    cursor: pointer;
}
hr {
    border: none;
    border-bottom: 1px solid #000;
}
::-webkit-input-placeholder {
    color: #eee;
    font-size: 14px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 1000px #fff;
}
.clear {
    zoom: 1;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.tc {
    text-align: center !important;
}
.tl {
    text-align: left !important;
}
.tr {
    text-align: right !important;
}
.show {
    display: block;
}
.hide {
    display: none;
}

/*开启硬件加速*/
.willChange {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

/*媒体查询*/
@media all and (max-width:320px) {}
@media all and (min-width:321px) and (max-width:375px) {}
@media all and (min-width:376px) {}

/*过渡与动画*/
.transition1 {
    transition: all 1s ease-out 0s;
    -webkit-transition: all 1s ease-out 0s;
}
.animation1 {
    display: inline-block;
    animation: autoplay1 1s linear infinite reverse;
    -webkit-animation: autoplay1 1s linear infinite reverse;
}
.animation1:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
@keyframes autoplay1 {
    0% {
        transform: rotateX(0) translate3d(0, 0, 0);
    }
    50% {
        transform: rotateX(0) translate3d(0, -20%, 0);
    }
    100% {
        transform: rotateX(0) translate3d(0, 0, 0);
    }
}
.animation2 {
    display: inline-block;
    width: 0;
    height: 20px;
    animation: autoplay2 1s linear infinite;
    -webkit-animation: autoplay2 1s linear infinite;
    position: relative;
    overflow: hidden;
}
.animation2:before {
    content: "...";
    width: 30px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes autoplay2 {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

/*颜色填满*/
.fullColor {
    width: 100%;
    outline: 9999px solid #fff;
    clip: rect(0 9999px 9999px 0);
    position: absolute;
}

/*pc微小字体方案(手机端默认支持最小字体为8px，pc端为12px，这个方案可以比限制的更小)*/
.tinyFontSize {
    display: inline-block;
    transform: scale(.5) translate3d(-50%, 0, 0);
    -webkit-transform: scale(.5) translate3d(-50%, 0, 0);
    font-size: 18px;
    line-height: 24px;
}

/*label绑定单选复选框*/
.labelFor {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.labelFor input {
    display: none;
}

/*0.5px细线条*/
*[class*="fineLine"] {
    position: relative;
}
*[class*="fineLine"]:before {
    content: "";
    width: 100%;
    height: 0;
    border: 1px solid transparent;
    border-bottom-color: #f0f0f0;
    transform: scaleY(.5) translate3d(0, 50%, 0);
    position: absolute;
    left: 0;
    bottom: 0;
}
.fineLine-top:before {
    bottom: auto;
    top: 0;
    border-bottom-color: transparent;
    border-top-color: #f0f0f0;
    transform: scaleY(.5) translate3d(0, -50%, 0);
}
.fineLine-left:before {
    width: 0;
    height: 100%;
    border-bottom-color: transparent;
    border-left-color: #f0f0f0;
    transform: scale(.5, 1) translate3d(-50%, 0, 0);
}
.fineLine-right:before {
    left: auto;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom-color: transparent;
    border-right-color: #f0f0f0;
    transform: scale(.5, 1) translate3d(50%, 0, 0);
}

/*单行与多行省略*/
.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
}
*[class*="multiLine"] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
}
.multiLine-2 {
    -webkit-line-clamp: 2;
}
.multiLine-3 {
    -webkit-line-clamp: 3;
}
.multiLine-4 {
    -webkit-line-clamp: 4;
}
.multiLine-5 {
    -webkit-line-clamp: 5;
}

/*滤镜*/
.filter-grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
/*灰度,值为0-1之间的小数*/
.filter-sepia {
    filter: sepia(1);
    -webkit-filter: sepia(1);
}
/*褐色,值为0-1之间的小数*/
.filter-saturate {
    filter: saturate(10);
    -webkit-filter: saturate(10);
}
/*饱和度,值为num*/
.filter-hue-rotate {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}
/*色相旋转    ,值为angle*/
.filter-invert {
    filter: invert(0.3);
    -webkit-filter: invert(0.3);
}
/*反色,值为0-1之间的小数*/
.filter-opacity {
    filter: opacity(1);
    -webkit-filter: opacity(1);
}
/*透明度,值为0-1之间的小数*/
.filter-brightness {
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}
/*亮度,值为0-1之间的小数*/
.filter-contrast {
    filter: contrast(5);
    -webkit-filter: contrast(5);
}
/*对比度,值为num*/
.filter-blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
/*模糊,值为length*/
.filter-drop-shadow {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
/*阴影,左偏移,上偏移,模糊半径,颜色*/

/*分上下两边的遮罩*/
.bothMask:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 90px;
}
.bothMask:after {
    content: "";
    width: 100%;
    height: 30px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}

/*效果选项卡*/
.yyd-tabBar {
    height: 3px;
    background-color: #f20532;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 2px;
}
.yyd-tabBar.forward {
    transition: right 0.3s cubic-bezier(0.61, 0.01, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
    -webkit-transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
}
.yyd-tabBar.backward {
    transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

/*checkbox开关按钮样式(建议用在label上，火狐下不支持input伪类)*/
.yyd-checkSwitch {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #dfdfdf;
    transition: background-color 0.1s, border 0.1s;
    -webkit-transition: background-color 0.1s, border 0.1s;
    outline: none;
    position: relative;
    cursor: pointer;
}
.yyd-checkSwitch:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #fdfdfd;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    position: absolute;
    left: 0;
    top: 0;
}
.yyd-checkSwitch:after {
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.yyd-checkSwitch.active {
    background-color: #ffe26d;
    border-color: #ffe26d;
}
.yyd-checkSwitch.active:before {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
}
.yyd-checkSwitch.active:after {
    transform: translate3d(20px, 0, 0);
    -webkit-transform: translate3d(20px, 0, 0);
}
.yyd-checkSwitch input {
    display: none;
}

/*layout*/
#webpack-hot-middleware-clientOverlay {
    display: none !important;
}
#app {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
}

/*路由过渡*/
.router-fade-leave-active {
    transition: opacity .1s;
    opacity: 0;
}
.router-fade-enter {
    opacity: 0;
}
.router-fade-enter-active {
    transition: opacity .1s;
}

/*列表过渡*/
.list-leave-active {
    transition: all .3s ease-out 0s;
    opacity: 0.8;
    transform: translate3d(-100%, 0, 0);
}

/*vux组件库样式修改*/
.vux-alert .weui-dialog__ft .weui-dialog__btn_primary, .vux-confirm .weui-dialog__ft .weui-dialog__btn_primary, .vux-datetime-confirm {
    color: #33adff !important;
}
.vux-prompt input {
    padding: 5px 15px;
    height: 30px;
    border-radius: 2px;
}
.vux-popup-dialog {
    z-index: 9999 !important;
}
.vux-popup-mask {
    top: -9999px !important;
}
.vux-popup-mask.vux-popup-show {
    top: 0 !important;
}

/*首页*/
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/photo-sphere-viewer@4.2.1/dist/photo-sphere-viewer.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*!
 * Photo Sphere Viewer 4.2.1
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2021 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: radial-gradient(#fff 0, #fdfdfd 16%, #fbfbfb 33%, #f8f8f8 49%, #efefef 66%, #dfdfdf 82%, #bfbfbf 100%);
    overflow: hidden
}
.psv-container--fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.psv-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: opacity linear .1s;
    transition: opacity linear .1s
}
.psv-canvas {
    display: block
}
.psv-loader-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80
}
.psv-loader {
    position: relative;
    text-align: center;
    color: rgba(61, 61, 61, .7);
    width: 150px;
    height: 150px;
    border: 10px solid transparent
}
.psv-loader::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
.psv-loader, .psv-loader-image, .psv-loader-text {
    display: inline-block;
    vertical-align: middle
}
.psv-loader-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.psv-loader-text {
    font: 14px sans-serif
}
.psv-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 90;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(61, 61, 61, .5);
    -webkit-transition: bottom ease-in-out .1s;
    transition: bottom ease-in-out .1s
}
.psv-navbar--open {
    bottom: 0
}
.psv-navbar, .psv-navbar * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.psv-caption {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    color: rgba(255, 255, 255, .7);
    overflow: hidden;
    text-align: center
}
.psv-caption-icon {
    height: 20px;
    width: 20px;
    cursor: pointer
}
.psv-caption-icon * {
    fill: rgba(255, 255, 255, .7)
}
.psv-caption-content {
    display: inline-block;
    padding: 10px;
    font: 16px sans-serif;
    white-space: nowrap
}
.psv-button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 10px;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: 0 0;
    color: rgba(255, 255, 255, .7)
}
.psv-button--active {
    background: rgba(255, 255, 255, .2)
}
.psv-button--disabled {
    pointer-events: none;
    opacity: .5
}
.psv-button .psv-button-svg {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease
}
.psv-container:not(.psv--is-touch) .psv-button--hover-scale:not(.psv-button--disabled):hover .psv-button-svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}
.psv-autorotate-button.psv-button {
    width: 25px;
    height: 25px;
    padding: 7.5px
}
.psv-zoom-range.psv-button {
    width: 80px;
    height: 1px;
    margin: 10px 0;
    padding: 9.5px 0;
    max-width: 600px
}
.psv-zoom-range-line {
    position: relative;
    width: 80px;
    height: 1px;
    background: rgba(255, 255, 255, .7);
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
.psv-zoom-range-handle {
    position: absolute;
    border-radius: 50%;
    top: -3px;
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, .7);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease
}
.psv-zoom-range:not(.psv-button--disabled):hover .psv-zoom-range-line {
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .7);
    box-shadow: 0 0 2px rgba(255, 255, 255, .7)
}
.psv-zoom-range:not(.psv-button--disabled):hover .psv-zoom-range-handle {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}
.psv-notification {
    position: absolute;
    z-index: 100;
    bottom: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2em;
    opacity: 0;
    -webkit-transition-property: opacity, bottom;
    transition-property: opacity, bottom;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}
.psv-notification-content {
    max-width: 50em;
    background-color: rgba(61, 61, 61, .8);
    border-radius: 4px;
    padding: .5em 1em;
    font: 14px sans-serif;
    color: #fff
}
.psv-notification--visible {
    opacity: 100;
    bottom: 80px
}
.psv-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(#fff 0, #fdfdfd 16%, #fbfbfb 33%, #f8f8f8 49%, #efefef 66%, #dfdfdf 82%, #bfbfbf 100%);
    color: #000;
    opacity: .8
}
.psv-overlay-image {
    margin-bottom: 4vh
}
.psv-overlay-image svg {
    width: 50vw
}
@media (orientation:landscape) {
    .psv-overlay-image svg {
        width: 25vw
    }
}
.psv-overlay-text {
    font: 30px sans-serif;
    text-align: center
}
.psv-overlay-subtext {
    font: 20px sans-serif;
    opacity: .8;
    text-align: center
}
.psv-panel {
    position: absolute;
    z-index: 90;
    right: 0;
    height: 100%;
    width: 400px;
    max-width: calc(100% - 24px);
    background: rgba(10, 10, 10, .7);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    cursor: default;
    margin-left: 9px
}
.psv--has-navbar .psv-panel {
    height: calc(100% - 40px)
}
.psv-panel-close-button {
    display: none;
    position: absolute;
    top: 0;
    left: -24px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, .9)
}
.psv-panel-close-button::after, .psv-panel-close-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 15px;
    height: 1px;
    background-color: #fff;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-property: width, left, -webkit-transform;
    transition-property: width, left, -webkit-transform;
    transition-property: width, left, transform;
    transition-property: width, left, transform, -webkit-transform
}
.psv-panel-close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.psv-panel-close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.psv-panel-close-button:hover::after, .psv-panel-close-button:hover::before {
    left: 0;
    width: 23px
}
.psv-panel-close-button:hover::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}
.psv-panel-close-button:hover::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.psv-panel-resizer {
    display: none;
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    cursor: col-resize
}
.psv-panel-resizer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    margin-top: -14.5px;
    width: 1px;
    height: 1px;
    -webkit-box-shadow: 1px 0 #fff, 3px 0 #fff, 5px 0 #fff, 1px 2px #fff, 3px 2px #fff, 5px 2px #fff, 1px 4px #fff, 3px 4px #fff, 5px 4px #fff, 1px 6px #fff, 3px 6px #fff, 5px 6px #fff, 1px 8px #fff, 3px 8px #fff, 5px 8px #fff, 1px 10px #fff, 3px 10px #fff, 5px 10px #fff, 1px 12px #fff, 3px 12px #fff, 5px 12px #fff, 1px 14px #fff, 3px 14px #fff, 5px 14px #fff, 1px 16px #fff, 3px 16px #fff, 5px 16px #fff, 1px 18px #fff, 3px 18px #fff, 5px 18px #fff, 1px 20px #fff, 3px 20px #fff, 5px 20px #fff, 1px 22px #fff, 3px 22px #fff, 5px 22px #fff, 1px 24px #fff, 3px 24px #fff, 5px 24px #fff, 1px 26px #fff, 3px 26px #fff, 5px 26px #fff, 1px 28px #fff, 3px 28px #fff, 5px 28px #fff;
    box-shadow: 1px 0 #fff, 3px 0 #fff, 5px 0 #fff, 1px 2px #fff, 3px 2px #fff, 5px 2px #fff, 1px 4px #fff, 3px 4px #fff, 5px 4px #fff, 1px 6px #fff, 3px 6px #fff, 5px 6px #fff, 1px 8px #fff, 3px 8px #fff, 5px 8px #fff, 1px 10px #fff, 3px 10px #fff, 5px 10px #fff, 1px 12px #fff, 3px 12px #fff, 5px 12px #fff, 1px 14px #fff, 3px 14px #fff, 5px 14px #fff, 1px 16px #fff, 3px 16px #fff, 5px 16px #fff, 1px 18px #fff, 3px 18px #fff, 5px 18px #fff, 1px 20px #fff, 3px 20px #fff, 5px 20px #fff, 1px 22px #fff, 3px 22px #fff, 5px 22px #fff, 1px 24px #fff, 3px 24px #fff, 5px 24px #fff, 1px 26px #fff, 3px 26px #fff, 5px 26px #fff, 1px 28px #fff, 3px 28px #fff, 5px 28px #fff;
    background: 0 0
}
.psv-panel-content {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #dcdcdc;
    font: 16px sans-serif;
    overflow: auto
}
.psv-panel-content:not(.psv-panel-content--no-margin) {
    padding: 1em
}
.psv-panel-content--no-interaction {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}
.psv-panel--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}
.psv-panel--open .psv-panel-close-button, .psv-panel--open .psv-panel-resizer {
    display: block
}
.psv-panel-menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: 24px sans-serif;
    margin: 24px 12px
}
.psv-panel-menu-title svg {
    width: 24px;
    height: 24px;
    margin-right: 12px
}
.psv-panel-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}
.psv-panel-menu-item {
    min-height: 20px;
    padding: .5em 1em;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out
}
.psv-panel-menu-item-icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 20px;
    width: 20px;
    margin-right: .5em
}
.psv-panel-menu-item-icon img {
    max-width: 100%;
    max-height: 100%
}
.psv-panel-menu-item-icon svg {
    width: 100%;
    height: 100%
}
.psv-panel-menu--stripped .psv-panel-menu-item:hover {
    background: rgba(255, 255, 255, .2)
}
.psv-panel-menu--stripped .psv-panel-menu-item:nth-child(odd), .psv-panel-menu--stripped .psv-panel-menu-item:nth-child(odd)::before {
    background: rgba(255, 255, 255, .1)
}
.psv-panel-menu--stripped .psv-panel-menu-item:nth-child(even), .psv-panel-menu--stripped .psv-panel-menu-item:nth-child(even)::before {
    background: 0 0
}
.psv-container:not(.psv--is-touch) .psv-panel-menu-item:hover {
    background: rgba(255, 255, 255, .2)
}
.psv-tooltip {
    position: absolute;
    z-index: 50;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 200px;
    background-color: rgba(61, 61, 61, .8);
    border-radius: 4px;
    padding: .5em 1em;
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    outline: 5px solid transparent
}
.psv-tooltip-content {
    color: #fff;
    font: 14px sans-serif;
    text-shadow: 0 1px #000
}
.psv-tooltip-arrow {
    position: absolute;
    height: 0;
    width: 0;
    border: 7px solid transparent
}
.psv-tooltip--bottom-center {
    -webkit-box-shadow: 0 3px 0 rgba(90, 90, 90, .7);
    box-shadow: 0 3px 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--bottom-center .psv-tooltip-arrow {
    border-bottom-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--center-left {
    -webkit-box-shadow: -3px 0 0 rgba(90, 90, 90, .7);
    box-shadow: -3px 0 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--center-left .psv-tooltip-arrow {
    border-left-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--top-center {
    -webkit-box-shadow: 0 -3px 0 rgba(90, 90, 90, .7);
    box-shadow: 0 -3px 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--top-center .psv-tooltip-arrow {
    border-top-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--center-right {
    -webkit-box-shadow: 3px 0 0 rgba(90, 90, 90, .7);
    box-shadow: 3px 0 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--center-right .psv-tooltip-arrow {
    border-right-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--bottom-left {
    -webkit-box-shadow: -3px 3px 0 rgba(90, 90, 90, .7);
    box-shadow: -3px 3px 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--bottom-left .psv-tooltip-arrow {
    border-bottom-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--bottom-right {
    -webkit-box-shadow: 3px 3px 0 rgba(90, 90, 90, .7);
    box-shadow: 3px 3px 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--bottom-right .psv-tooltip-arrow {
    border-bottom-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--top-left {
    -webkit-box-shadow: -3px -3px 0 rgba(90, 90, 90, .7);
    box-shadow: -3px -3px 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--top-left .psv-tooltip-arrow {
    border-top-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--top-right {
    -webkit-box-shadow: 3px -3px 0 rgba(90, 90, 90, .7);
    box-shadow: 3px -3px 0 rgba(90, 90, 90, .7);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
.psv-tooltip--top-right .psv-tooltip-arrow {
    border-top-color: rgba(61, 61, 61, .8)
}
.psv-tooltip--visible {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition-duration: .1s;
    transition-duration: .1s
}
/*# sourceMappingURL=/sm/ea4874ca5782ed99b43b359363b06dac15c3c810eb19e2bf1991656f07a1a4a6.map */


/*!
 * Photo Sphere Viewer 4.3.0-rc.1
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2021 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-markers {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.psv-markers-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.psv-marker {
  display: none;
}

.psv-marker--normal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  background-size: contain;
  background-repeat: no-repeat;
}

.psv-marker--transparent {
  display: block;
  opacity: 0;
}

.psv-marker--visible {
  display: block;
}

.psv-marker--has-tooltip, .psv-marker--has-content {
  cursor: pointer;
}
/*# sourceMappingURL=markers.css.map */